AUTH_TOKEN=

# TestFlight session headers captured via mitmproxy from the iOS app 
# You may need to work around cert issues
TF_ACCOUNT_ID=
TF_USER_AGENT=
TF_SESSION_ID=
TF_SESSION_DIGEST=
TF_APPLE_STORE_FRONT=
TF_APPLE_DEVICE_MODAL=
TF_REQUEST_ID=
TF_AMD_M=

APP_NAME=
PORT=3000